[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
typer = {extras = ["all"], version = "*"}
client = {editable = true, path = "./client"}
beautifulsoup4 = "*"
pytest = "*"
requests-toolbelt = "*"

[dev-packages]

[requires]
python_version = "3.11"
